#myJumbotron{
    background-color: #7F462C;
    color: white;
}

#modalHeader, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }

  #errModalheader{
      background-color: red;
      color:white !important;
    text-align: center;
    font-size: 30px;
  }

  /* table, th, td {
    border: 1px solid #327AB7;
  } */

  #panelTitle, #trainPanelTitle{
    background-color: #327AB7;
    color: #ddd;
  }

  #firstCard, #trainInfoPanel{
    border-color: #327AB7;
}